spring.application.name=travel-expert-web-backend
server.port=${PORT:8080}
# db connection
# db access
spring.datasource.url=jdbc:postgresql://localhost:5432/travelexperts
spring.datasource.username=USERNAME_HERE
spring.datasource.password=PASSWORD_HERE
spring.datasource.driver-class-name=org.postgresql.Driver
# db configuration
spring.jpa.hibernate.ddl-auto=none

# swagger
springdoc.api-docs.enabled=true
springdoc.swagger-ui.enabled=true
logging.level.org.springframework.security=DEBUG


#google API key
google.maps.places.url=https://maps.googleapis.com/maps/api/place/textsearch/json
google.places.api.key=YOUR_API_KEY

#Mail Service
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=cluelessgamers7400@gmail.com
spring.mail.password=PASSWORD_HERE
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
# Stripe Configuration
stripe.secret-key=STRIPE_SECRET_KEY
# File Upload Configuration
spring.servlet.multipart.max-file-size=5MB
spring.servlet.multipart.max-request-size=10MB
spring.cloud.azure.storage.blob.connection-string=CONNECTION_STRING_HERE
spring.cloud.azure.storage.blob.container-name=user-profile